# -*- mode: ruby -*-
# vi: set ft=ruby :

# Vagrantfile API/syntax version. Don't touch unless you know what you're doing!
VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |conf|

  conf.vm.define :full_build, primary: true do |config|
    config.vm.box     = 'docker-trusty64-basebox'
    config.vm.box_url = 'http://img.xcomdb.ru/dev/docker-trusty64-basebox.box'

    config.vm.provider :virtualbox do |vb|
      vb.customize ["modifyvm", :id, "--memory", 2048, "--ioapic", "on", "--cpus", 1]
    end
    for i in 8080..8100
        config.vm.network :forwarded_port, guest: i, host: i
    end
  end

end
